@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
  @apply  text-lg font-bold  rounded-lg px-1
}

.nav-item.selected {
  @apply bg-gray-400
}

.nav-item:hover {
  @apply bg-gray-500 scale-50
}