@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
  @apply  text-lg font-bold  rounded-lg px-1
}

.nav-item.selected {
  @apply bg-gray-400
}
